<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<th:block th:insert="~{fragments/resources}"></th:block>
</head>
<body data-ma-theme="blue">
	<th:block th:insert="~{fragments/header}"></th:block>
	<th:block th:insert="~{fragments/menu}"></th:block>
	<section class="content">

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Gestionar empleados</h4>
				
				<div class="form-row" sec:authorize="hasRole('ADMIN')">
					<div class="col-m-6">
						<div class="form-group">
							<a href="/empleados/nuevo" class="btn btn-primary">Nuevo empleado</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de empleados</h4>

				<div class="table-responsive">
					<table id="idTableEmpleado" class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Empleado</th>
								<th>Sueldo</th>
								<th>Fecha de Ingreso</th>
								<th>Departamento</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="empleado : ${listarEmpleados}">
								<tr>
									<td th:text="${empleado.id}"></td>
									<td th:text="${empleado.nombre}"></td>
									<td th:text="${empleado.salario}"></td>
									<td th:text="${empleado.fechaIngreso}"></td>
									<td th:text="${empleado.departamento.descripcion}"></td>
									<td>
										<a class="btn btn-primary" th:href="@{/empleados/editar/{id}(id=${empleado.id})}">
											<i class="zmdi zmdi-edit zmdi-hc-fw"></i>
										</a>
										<a class="btn btn-danger" href="#" th:onclick="'eliminarEmpleado(' + ${empleado.id} + ')'" sec:authorize="hasRole('ADMIN')">
											<i class="zmdi zmdi-delete zmdi-hc-fw"></i>
										</a>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>

				</div>

			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#idTableEmpleado").DataTable();
			});
			
			function eliminarEmpleado(id){
                swal({
                    title: 'Are you sure?',
                    text: 'You will not be able to recover this imaginary file!',
                    type: 'warning',
                    showCancelButton: true,
                    buttonsStyling: false,
                    confirmButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonClass: 'btn btn-secondary'
                }).then(function(result){
                    if(result.value){
                    	$.ajax({
                    		url: "/empleados/eliminar/" + id,
                    		type: "GET",
                    		success: function(){
                    			swal("Ok", "Se ha eliminado", "success").then(function(){
                    				window.location = "/empleados";
                                });
                    		}
                    	})
                    }
                });	
			}
		</script>

	</section>
	
	

</body>
</html>